.componentBox {
  box-sizing: border-box;
  padding: 10px;

  .demons {
    font-size: 14px;
    font-weight: 100;
  }
  .demonsContent {
    font-size: 13px;
    text-indent: 2em;
    font-weight: 100;
  }
}
